{% extends 'base.html.twig' %}

{% block title%}
    Форма авторизации
{% endblock %}
{% block body %}
    <div class="container text-center">
        <div class="row justify-content-center" style="padding-top: 120px">
            <div class="col-5 card " style="padding: 20px">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey| trans(error.MessageData, 'security')}}</div>
                {% endif %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
