{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center" style="padding-top: 120px">
        <div class=" justify-content-center col-2 card ">
            <div class='card js-datepicker m-lg-2' id="datepicker"></div>
        </div>
        <div class="col-4 card " style="padding: 20px">
            {{ form_start(form) }}
            <span>Выберите на календаре дату для задачи</span>
            {{ form_row(form.createdAt) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
