@import "~bootstrap";
.datepicker table tr td.new, .datepicker table tr td.old {
    height: 0;
    line-height: 0;
    visibility: hidden;
}
h1 {
    color:Orange;
}

#span1 {
    margin-bottom: 12px;
    display: inline-block;
}
.highlighted-cal-dates{
    background-color: #FFD580;
    text-decoration: underline black;
}

#task_createdAt{
    pointer-events:none;
    background-color:  #eeeeee ;
}